.footer {
  background: #edeef3;
  padding-bottom: 17px;
  padding-top: 13px;
  &__container {
    border-top: 1px solid #ced4da;
  }

  &__text {
    color: #6c757d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    margin: 13px auto auto 386px;
  }
}
