* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.header {
  position: relative;
  border: 1px solid var(--stroke-input, #ced4da);
  background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
  padding: 68px 503px 100px 502px;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  color: var(--cyan-100, #cff4fc);
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 68px auto auto auto;
}
.header__text {
  color: var(--cyan-100, #cff4fc);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 171.429% */
  margin: 4px auto auto auto;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 986px;
}

.input {
  position: absolute;
  top: 330px;
  left: 24%;
  max-width: 820px;
  height: 64px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  padding: 22px 502px 21px 32px;
  color: #abb5be;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 87.5% */
}

.main {
  background: #edeef3;
  padding: 80px 228px 50px 226px;
}
.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px 19px;
}
.main__cards {
  max-width: 316px;
  height: 184px;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main__cards__title {
  max-width: 48px;
  color: #68717a;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 100% */
}
.main__cards__subtext {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  text-decoration-line: underline;
}
.main__cards__text {
  color: #3f444a;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background: #edeef3;
  padding-bottom: 17px;
}
.footer__line {
  width: 986px;
  height: 1px;
  background: #ced4da;
}
.footer__text {
  color: #6c757d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  margin: 13px auto auto 386px;
}/*# sourceMappingURL=style.css.map */